[user]
	name = João Pedro Alcântara
	email = alcantara.joaop30@gmail.com
	signingKey = 01a5e75e0f3decdf0907ad0e0cd49a8bf8612cf4
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[tag]
	forceSignAnnotated = true
	gpgSign = true
[push]
	# gpgSign = true
[safe]
	directory = *
[core]
	autocrlf = false
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com/
